@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i&display=swap&subset=cyrillic');

:root {
    --icons-color: #FFD700
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(1fr)) ;
}

header div {
    display: flex;
    justify-content: center;
    align-items: center;
}

header span { 
    font-size: 100%;
    font-weight: 300;
}

header span:nth-child(1) {
    color: var(--icons-color);
    padding-top: 10px;
}

.tel, .tm { border-left: 1px solid var(--icons-color)}
